body {
    background-color: rgb(134, 217, 250);
    overflow: hidden;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    top: 5px;
}
h1 {
    position: relative;
    background-color: rgb(21, 131, 233);
    text-decoration: rgb(104, 104, 230);
    color: rgb(156, 61, 61);
    text-align: center;
    top: 40px;
}
.border {
    position: absolute;
    background-color: rgb(99, 142, 235);
    border-radius: 10px;
    width: 500px;
    height: 254px;
    margin: 170px;
    padding: 10px;
    top: 10px;
}
li {
    text-align: center;
    display: inline;
    margin: 10px;
    padding: 10px;
    font-size: large;
    color: rgb(46, 46, 248);
}
input {
    border-radius: 10px;
    width: 460px;
    height: 27px;
    top: 1px;
    margin: 10px;
    padding: 10px;
}
.submit {
    position: relative;
    text-align: center;
    margin: 74px;
    top: -54px;
    width: 340px;
    height: 27px;
    padding: 3px;
    background-color: rgb(83, 83, 240);
    color: rgb(24;1, 24, 24)
}
li:hover {
    text-decoration: underline;
    color: rgb(36, 204, 247);
}
.submit:hover {
    color: rgba(41, 144, 212, 0.842);
}
.bottom {
    position: relative;
    margin: 228px;
    padding: 192px;
    top: 120px;
  }
